.overlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background: rgba(106, 106, 106, 0.2);
}

.cartModal {
  position: absolute;
  top: 80px;
  right: 24px;
  min-height:130px;
  width: 440px;
  background: #ffffff;
  border-radius: 16px;
  padding: 13px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.cartItem {
  display: grid;
  grid-template-columns: 64px 1fr 90px;
  align-items: center;
  gap: 13px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #e2e6ea;
}

.image {
  width: 64px;
  height: 64px;
  object-fit: contain;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.titleRow {
  display: flex;
  align-items: center;
  gap: 24px;
}

.title {
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 600;
  color: #222831;
}

.unit {
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 600;
  color: #868E96
}

.price {
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 600;
  color: #212529
}

.counter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0;
}

.minusButton {
  background-image: url('../../assets/minusButton.svg');
  width:30px;
  height:30px;
  border:none;
  background-color: white;
  cursor: pointer;
}

.plusButton {
  background-image: url('../../assets/plusButton.svg');
  width:30px;
  height:30px;
  border:none;
  background-color: white;
  cursor: pointer;
}

.plusButton:active,
.minusButton:active {
  transform: scale(0.9);
}

.quantity {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  color: #212529;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total {
  font-family: 'Inter';
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
  font-weight: 700;
  color: #000;
}

.empty {
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap: 20px;
}

.emptyText {
  font-family: 'Inter';
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color:#868E96;
  margin-bottom: 15px;
}

.emptyImg {
  width:117px;
  height:106px;
}