/*
.card {
  background-color: var(--mantine-color-body);
}

.imageSection {
  padding: var(--mantine-spacing-md);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.label {
  margin-bottom: var(--mantine-spacing-xs);
  line-height: 1;
  font-weight: 700;
  font-size: var(--mantine-font-size-xs);
  letter-spacing: -0.25px;
  text-transform: uppercase;
}

.section {
  padding: var(--mantine-spacing-md);
  border-top: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.icon {
  margin-right: 5px;
  color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-2));
}
*/

.productCard {
    width: 302px;
    height: 412px;
    border-radius: 24px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.productImg {
    width: 276px;
    height: 276px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
}

.cardTitle {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-left:16px;
  margin-right:16px;
}

.priceSection {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top:16px;
  margin-left:16px;
  margin-right:16px;
}

.counter {
  width: 30px;
  height: 30px;
  display:flex;
  flex-direction: start;
  justify-content: center;
  align-items: center;

}

.plusButton,
.minusButton {
  width:30px;
  height:30px;
  cursor: pointer;
  border:none;
  background-color: #FFFFFF;
}

.plusButton {
  background-image: url('./src/assets/plusButton.svg');
}

.minusButton {
  background-image: url('./src/assets/minusButton.svg');
}

.addToCartButton {
  background-image: url('./src/assets/addToCart.svg');
  width:204px;
  height:44px;
  border:none;
  border-radius: 8px;
  cursor: pointer;
}

.counterContainer {
  display:flex;
  flex-direction: start;
  justify-content: center;
  align-items: center;
}

.titleText {
  display:flex;
  flex-direction: start;
  width:105px;
  height:28px;
  justify-content: space-between;
}